# Mengaktifkan mod_rewrite
RewriteEngine On

# Pastikan permintaan bukan file atau direktori
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Menambahkan ekstensi .php secara otomatis
RewriteRule ^(.*)$ $1.php [L]
